<div class="register-container">
  <h2>Register</h2>
  <input type="text" name="username" [(ngModel)]="register.username" required placeholder="Username">
  <input type="email" name="email" [(ngModel)]="register.email" required placeholder="Email">
  <input type="text" name="phone_number" [(ngModel)]="register.phone_number" placeholder="Phone Number">
  <input type="password" name="password" [(ngModel)]="register.password" required placeholder="Password">

  <button type="submit" (click)="registerUser()">Register</button>
</div>