<h2>Found Items</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Color</th>
      <th>Location</th>
      <th>Date Lost</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.color }}</td>
      <td>{{ item.location }}</td>
      <td>{{ item.date | date }}</td>
      <td>{{ item.image }}</td>
    </tr>
  </tbody>
</table>
