<div class="home-container">
  <div class="header">
    <h1>Lost & Found Portal</h1>
    <button (click)="logout()" class="logout-button">🚪 Logout</button>
  </div>

  <div class="section">
    <div class="button-group">
      <button *ngIf="userService.isLoggedIn()" (click)="openLostItemDialog()" class="reportlost-button">Report Lost Item</button>
    </div>
    <button (click)="filterRecentLost()" class="sort-button">🔍 View Recent Lost Items</button>
    <h2>🎒 Lost Items</h2>
    <app-lost-item-list [recentOnly]="showRecentLost"></app-lost-item-list>
  </div>
  <div class="section">
    <div class="button-group">
      <button *ngIf="userService.isLoggedIn()" (click)="openFoundItemDialog()" class="reportfound-button">Report Found Item</button>
    </div>
    <button (click)="filterRecentFound()" class="sort-button">🔍 View Recent Found Items</button>
    <h2>📦 Found Items</h2>
    <app-found-item-list [recentOnly]="showRecentFound"></app-found-item-list>
  </div>

  <div class="section">
    <h2>Matched Items</h2>
    <app-match-item-list></app-match-item-list>
  </div>
</div>
