* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.home-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.header {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  margin: 0;
}

.logout-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0a500;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sort-button {
  float: right;
  margin-top: -40px;
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.sort-button:hover {
  background-color: #0b7dda;
}

.reportlost-button {
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #df1616;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.reportfound-button {
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.logout-button:hover {
  background-color: #d98e00;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.section {
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.lost-section {
  text-align: left;
}

.found-section {
  text-align: right;
}
